## [Start] Setting "sentCount" to default value of "0". **
$util.qr($context.args.input.put("sentCount", $util.defaultIfNull($ctx.args.input.sentCount, 0)))
## [End] Setting "sentCount" to default value of "0". **
## [Start] Setting "failedCount" to default value of "0". **
$util.qr($context.args.input.put("failedCount", $util.defaultIfNull($ctx.args.input.failedCount, 0)))
## [End] Setting "failedCount" to default value of "0". **
{}