## [Start] Setting "approved" to default value of "false". **
$util.qr($context.args.input.put("approved", $util.defaultIfNull($ctx.args.input.approved, false)))
## [End] Setting "approved" to default value of "false". **
{}