## [Start] Setting "duration" to default value of "0". **
$util.qr($context.args.input.put("duration", $util.defaultIfNull($ctx.args.input.duration, 0)))
## [End] Setting "duration" to default value of "0". **
{}