## [Start] Setting "retryCount" to default value of "0". **
$util.qr($context.args.input.put("retryCount", $util.defaultIfNull($ctx.args.input.retryCount, 0)))
## [End] Setting "retryCount" to default value of "0". **
{}